@import url("https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
}
body {
  overflow-x: hidden;
  background: #050505;
  font-family: "Inter", sans-serif;
}
nav {
  font-family: "DM Sans", sans-serif;
}
