.links {
  text-decoration: none;
  position: relative;
}
.links::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 0px;
  background-color: #cdcccc;
  bottom: -1px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.links:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
